* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(239, 244, 252);
    padding: 5px;
}

.containerForBookSelecting {
    display: flex;
    gap: 7px;
    background-color: rgb(176, 209, 249);
    padding: 3px;
    border-radius: 20px;
}

.choiceItem {
    flex: 1;
    position: relative;
}

.choiceInput {
    display: none;
}

.choiceText {
    background-color: rgb(176, 209, 249);
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

.choiceInput:checked + .choiceText {
    background-color: rgb(239, 244, 252);
}

.containerForGenreSelecting {
    display: flex;
    gap: 7px;
}

/*кастомизация select*/
.selectHeader {
    background: rgb(239, 244, 252);
    border: 3px solid rgb(176, 209, 249);
    padding: 7px;
    border-radius: 18px;
    cursor: pointer;
}

.listOfGenres, .listOfAuthors {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 230px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    display: none;
}

.listOfGenres.show, .listOfAuthors.show {
    display: block;
    border-radius: 20px;
}

.selectGenre, .selectAuthor, .showAllBooks {
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.selectGenre:hover, .selectAuthor:hover, .showAllBooks:hover {
    background: rgb(176, 209, 249);
}

/*инпут и кнопка*/
.containerForAddingBooks {
    display: flex;
    gap: 7px;
}

.enterBook {
    background: rgb(239, 244, 252);
    width: 80%;
    border: 3px solid rgb(176, 209, 249);
    border-radius: 15px;
    padding: 7px;
}

.addBook {
    background: rgb(184, 255, 175);
    width: 20%;
    border: 3px solid rgb(148, 214, 122);
    border-radius: 16px;
}

.addBook:hover {
    background: rgb(148, 214, 122);
}

.cardsOfBooks {
    background-color: rgb(176, 209, 249);
    flex: 1;
}

.cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    margin: 5px;
}

.cardOfBook {
    background-color: rgb(239, 244, 252);
    border-radius: 15px;
}

/*скрыть карточки*/
.cardOfBook.hidden {
    display: none /*полностью убрать из потока*/
}

/*показать карточки*/
.cardOfBook.visible {
    display: block;
}

.bookPicture {
  overflow: hidden; /*обрезает выходящие за границы элементы*/
  width: 100%;
  height: 380px;
  border-radius: 15px;
}

.bookCover {
  width: 100%;
  height: 100%;
  object-fit: cover; /*заполняет область без искажений пропорций*/
  object-position: center;
}

.bookContent {
    padding: 5px;
    overflow-y: auto;
    height: 200px;
}
