* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(239, 244, 252);
    padding: 5px;
}

.choiceContainer {
    display: flex;
    gap: 7px;
    background-color: rgb(197, 197, 255);
    padding: 3px;
    border-radius: 20px;
}

.choiceItem {
    flex: 1;
    position: relative;
}

.choiceInput {
    display: none;
}

.choiceText {
    background-color: rgb(197, 197, 255);
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

.choiceInput:checked + .choiceText {
    background-color: rgb(239, 244, 252);
}

.choiceContainer2 {
    display: flex;
    gap: 7px;
}

/*кастомизация select*/
.selectHeader {
    background: rgb(239, 244, 252);
    border: 3px solid rgb(197, 197, 255);
    padding: 7px;
    border-radius: 18px;
    cursor: pointer;
}

.selectList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 230px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    display: none;
}

.selectList.show {
    display: block;
    border-radius: 20px;
}

.selectOption {
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.selectOption:hover {
    background: rgb(197, 197, 255);
}

/*инпут и кнопка*/
.choiceContainer3 {
    display: flex;
    gap: 7px;
}

.enterBook {
    background: rgb(239, 244, 252);
    width: 80%;
    border: 3px solid rgb(197, 197, 255);
    border-radius: 15px;
    padding: 7px;
}

.addBook {
    background: rgb(184, 255, 175);
    width: 20%;
    border: 3px solid rgb(148, 214, 122);
    border-radius: 16px;
}

.addBook:hover {
    background: rgb(148, 214, 122);
}

.cardsOfBooks {
    background-color: rgb(197, 197, 255);
    flex: 1;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 5px;
}

.cardOfBook {
    background-color: rgb(239, 244, 252);
    border-radius: 15px;
}

/*скрыть карточки*/
.cardOfBook.hidden {
    display: none /*полностью убрать из потока*/
}

/*показать карточки*/
.cardOfBook.visible {
    display: block;
}

.bookPicture {
  overflow: hidden; /*обрезает выходящие за границы элементы*/
  width: 100%;
  height: 340px;
  border-radius: 15px;
}

.bookCover {
  width: 100%;
  height: 100%;
  object-fit: cover; /*заполняет область без искажений пропорций*/
  object-position: center;
}

.bookContent {
    padding: 5px;
    overflow-y: auto;
    height: 200px;
}
